aws_profile = "AdministratorAccess-ACCOUNT_ID"
aws_region  = "us-west-2"

run_id        = "replace-with-run-id"
bucket_name   = "replace-with-globally-unique-bucket-name"
object_prefix = "object-log-qualification/replace-with-run-id"
